#start-btn
{
    width: 40%;
} 
#camera,#result
{
    width:360px;
    height: 250px;
    border:5px solid rgb(129, 238, 87);
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

body
{

background-color: rgb(217, 245, 217);

}